.AboutMe {
    font-size: 2rem;
    display: block;
    text-align: center;
}
.divider-line {
    height: 2px;
    width: 3rem;
    background: #34fa87;
    display: block;
    margin: 0 auto 5% auto;
}
.about-info {
    display: grid;
    grid-template-areas: "bioimage bio";
    grid-gap: 2%;
    /* margin:2rem 0; */
    height:max-content;
}
.bio {
    border-left: 3px solid #34fa87;
    padding: 1%;
}
.bio-image{
    align-self: center;
    height:60%;
    width:100%;

}

@media (max-width: 880px) {
    #about .about-info {
        grid-template-areas:
            "bio";
    } 
}