.title {
    font-size: 2rem;
    display: block;
    padding-bottom: .1%;
    text-align: center;
}
#resume{
    padding-top:9rem;
    min-height: 100%;
}
.divider-line {
    height: 2px;
    width: 10%;
    background: #34fa87;
    display: block;
    margin: 0 auto 5% auto;
}

.btn-dark {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

#contact {
    padding-bottom:3rem;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
    background-color: #34fa87;
}

.text-field {
    display: grid;
    grid-template-areas:
        "a b"
        "c d"
        "e e";
    grid-gap: 2%;
    margin-bottom: 5%;
}

.btn-dark {
    color: #f4f4f4;
    background-color: #333;
}

.message-I {
    grid-area: e;
    height: 200px;
    padding: 2% 5%;
}

#submit {
    width: 100%;
}

.contact-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    text-align: center;
}

@media (max-width: 700px) {

    .contact-icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-icons h3 {
        display: none;
    }

    .contact-icons p {
        display: none;
    }

}