* {
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.6;
    background: #fff;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    position: relative;
    background: #34fa87;
    overflow: hidden;
    margin: 2%;
}

.card:after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-100%) ;
}

.card:hover:after {
    transform: scale(6) translateX(0) ;
}

.card:hover .card-text {
    opacity: 1;
    transform: translateZ(0);
    margin-top:10%;
    color:black;
}

.card-image::before {
    content: "";
    display: block;
    padding-top: 45%;
    overflow: hidden;
}

.card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-text a {
    color:black;
}

ion-icon {
    font-size: 4rem;
}

.card-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transition-delay: 100ms;
}

@media (max-width: 880px) {

    #work .container .cards {
        grid-template-columns: 1fr;
    }
    
    .card:hover .card-text {
        opacity: 1;
        transform: translateZ(0);
        margin-top:0%;
        color:black;
    }

}